.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explore-menu h1 {
    color: #262626;
    font-weight: 500;
}

.explore-menu-text {
    max-width: 60%;
    color: #808080;
}

.explore-menu-list {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap into multiple rows */
    justify-content: space-between;
    align-items: flex-start; /* Aligns items to the start of the row */
    gap: 20px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: auto; /* Horizontal scroll enabled */
    max-height: 50vh; /* Limit height to fit visible rows */
}

.explore-menu-list::-webkit-scrollbar {
    display: none;
}

.explore-menu-list-item {
    flex: 1 0 calc(12.5% - 20px); /* Fixed size to ensure 8 items per row */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box; /* Include padding in width calculations */
    text-align: center; /* Center align text */
    overflow: hidden; /* Hide overflowing content */
}

.explore-menu-list-item img {
    width: 6vw; /* Adjusted to fit within items */
    min-width: 50px;
    cursor: pointer;
    border-radius: 50%; /* Makes the image circular */
    transition: 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.explore-menu-list-item p {
    margin-top: 10px;
    color: #747474;
    font-size: max(1.2vw, 12px);
    cursor: pointer;
    white-space: normal; /* Allows text to wrap to multiple lines */
    overflow: hidden; /* Hides any overflow content */
    text-overflow: clip; /* Ensures no ellipsis */
}

.explore-menu hr {
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}

.explore-menu-list-item .active {
    border: 4px solid tomato;
    padding: 2px;
}

@media (max-width: 1050px) {
    .explore-menu-text {
        max-width: 100%;
        font-size: 14px;
    }

    .explore-menu-list-item {
        flex: 1 0 calc(25% - 20px); /* 4 items per row on medium screens */
    }
}

@media (max-width: 700px) {
    .explore-menu-list-item {
        flex: 1 0 calc(33.33% - 20px); /* 3 items per row on small screens */
    }
}
